body {
    background-color: #e9eef4 !important;
}

.headerbody {
    width: 100%;
    height: 70px;  
}

.loginpage
{
    width: 100%;
    color: red; 
    text-align: center;  
}

.hockeylogo {
    width: 150px;
    height: 70px;
    margin-left: 7%;
}

.yetiLogo {
    width: 160px;
    height: 160px;
}

.hockeylogo2 {
    width: 100%;
    height: 345px;
    
}
.yetiLogo2 {
    width: 400px;
    height: 400px;
}
.signup_div
{
    display: flex;
    justify-content: center;
    margin-top: 0;
}
.signup_div button
{
    margin-top: 5px;
}
.exist_div
{
    display: flex;
    justify-content: center;
    margin-top: 0;
    width: 100%;
}
.exist_div button
{
    width: 15%;
}
.exist_div button:hover
{
    background: none;
}
.loginman
{
    background-color: #1d74b5;
    text-align: center;
}


