.searchResults
{
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    left: 49%;
    margin-left: -50px;
    background: white;
    width: auto;
    border: brown;
}
.searchresult
{
    display: none;
    position: relative;
    width: 100%;
    font-size: 20px;

}

.searchbar {
    background-color: rgb(255, 255, 255);
    border-radius: 60px 60px 60px 60px;
    width: 200px;
}

.searchbar:focus {
    background-color: rgb(255, 255, 255);
    border-radius: 60px 60px 60px 60px;
    width: 200px;
    outline: none;
}


input::placeholder {
    color: rgb(228, 228, 228);
    padding-left: 13px;
}